<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <!-- We used the custome attribute here define in button shared component.
         once button componet is imported in the header component, button component html will be replaced here inside button tag.         
        -->
        <button appButton></button>
      </li>
    </ul>
  </nav>
</header>
