<div>
  <button>
    <!-- Another way to use variable of component class is with property binding
    Here for giving sourcte to image we are using property binding.
    When we wrap property in square brackets, it means we are using property binding.
    We can use property binding for any property of HTML tag. 
    -->
    <img [src]="imagePath" [alt]="selectedUser.name" />
    <!-- using string interpolation we can access public variable of class and can be use like below -->
    <span>{{ selectedUser.name }}</span>
  </button>
</div>
